<footer class="text-cyan-200 font-neon pb-5 text-center lg:text-left">

    <div class="mx-auto">
        <ul class="py-3 text-lg">
            <li class="block lg:inline-block leading-tight">
                <small><a class="hover:text-shadow-title" href="index.html">INICIO</a></small>
                <span class="mx-2 hidden lg:inline">&#8901;</span> 
            </li>
            <li class="block lg:inline-block leading-tight">
                <small><a class="hover:text-shadow-title" href="participantes.html">PARTICIPANTES</a></small>
                <span class="mx-2 hidden lg:inline">&#8901;</span>
            </li>
            <li class="block lg:inline-block leading-tight">
                <small><a class="hover:text-shadow-title" href="#">HISTORIA</a></small>
                <span class="mx-2 hidden lg:inline">&#8901;</span>
            </li>
            <li class="block lg:inline-block leading-tight">
                <small><a class="hover:text-shadow-title" href="#">RECETAS</a></small>
            </li>
        </ul>

        <div class="footer__social">
            <a href="#"><img class="hover:opacity-70" width="40" src="./assets/images/twitter.svg" alt="Twitter"></a>
            <a href="#"><img class="hover:opacity-70" width="40" src="./assets/images/instagram.svg" alt="Instagram"></a>
            <a href="#"><img class="hover:opacity-70" width="50" src="./assets/images/youtube.svg" alt="Youtube"></a>
        </div>

        <ul class="pt-3 text-lg">
            <li class="block lg:inline-block leading-tight">
                <small><a class="hover:text-shadow-title" href="#">Sobre nosotros</a></small>
                <span class="mx-2 hidden lg:inline">&#8901;</span> 
            </li>
            <li class="block lg:inline-block leading-tight">
                <small><a class="hover:text-shadow-title" href="#">Aviso legal</a></small>
                <span class="mx-2 hidden lg:inline">&#8901;</span>
            </li>
            <li class="block lg:inline-block leading-tight">
                <small><a class="hover:text-shadow-title" href="#">Política de privacidad</a></small>
                <span class="mx-2 hidden lg:inline">&#8901;</span>
            </li>
            <li class="block lg:inline-block leading-tight">
                <small><a class="hover:text-shadow-title" href="#">Política de cookies</a></small>
            </li>
        </ul>

        <p class="text-xs mt-3 lg:m-0">&copy; María Rosa Aravid Martín</p>
    </div>
</footer>