<footer class="text-cyan-200 font-neon pb-5 text-center lg:text-left">

    <div class="mx-auto w-3/4">
        <div class="footer__social">
            <a href="#"><img class="hover:opacity-70" width="40" src="./assets/images/twitter.svg" alt="Twitter"></a>
            <a href="#"><img class="hover:opacity-70" width="40" src="./assets/images/instagram.svg" alt="Instagram"></a>
            <a href="#"><img class="hover:opacity-70" width="50" src="./assets/images/youtube.svg" alt="Youtube"></a>
        </div>

        <ul class="pt-3 text-lg">
            <li class="footer-item">
                <small><a class="footer-link" href="#">Sobre nosotros</a></small>
                <span class="footer-separator">&#8901;</span> 
            </li>
            <li class="footer-item">
                <small><a class="footer-link" href="#">Aviso legal</a></small>
                <span class="footer-separator">&#8901;</span>
            </li>
            <li class="footer-item">
                <small><a class="footer-link" href="#">Política de privacidad</a></small>
                <span class="footer-separator">&#8901;</span>
            </li>
            <li class="footer-item">
                <small><a class="footer-link" href="#">Política de cookies</a></small>
            </li>
        </ul>

        <p class="text-xs mt-3 lg:m-0">&copy; María Rosa Aravid Martín</p>
    </div>
    
</footer>