<header class="font-neon py-5 leading-tight">
    <div class="mx-auto flex justify-between items-center my-5">
        <hgroup>
            <h1 class="text-5xl">
                <a href="index.html" class="flex align-center justify-start" style="width: 300px;">
                    <img alt="Logo de Sabor a Valencia" src="./assets/images/neon_drink.png" width="100">            
                    <span class="text-cyan-200 text-shadow-title block">Sabor a Valencia</span>
                </a>
            </h1>
        </hgroup>

        <nav class="text-right text-xl">				
            <ul>
                <li class="ml-5 hover:text-shadow-title inline-block">
                    <a class="text-cyan-200" href="./participantes.html">Participantes</a>
                </li>
                <li class="ml-5 hover:text-shadow-title inline-block">
                    <a class="text-cyan-200" href="#">Historia</a>
                </li>
                <li class="ml-5 hover:text-shadow-title inline-block">
                    <a class="text-cyan-200" href="#">Recetas</a>
                </li>
            </ul>
        </nav>

    </div>
    <h2 class="text-center font-light text-orange-500 text-2xl">Bienvenidos a la última edición del concurso de cócteles... <span class="text-shadow-neon">¡con sabor a naranja!</span></h2>	
</header>