<header class="font-neon pt-5 leading-tight w-3/4 mx-auto">
    <div class="my-5 block sm:flex sm:justify-between sm:items-center">
        <hgroup>
            <h1 class="text-5xl">
                <a href="index.html" class="mx-auto text-center block sm:flex sm:align-center sm:justify-start" style="width: 300px;">
                    <img alt="Logo de Sabor a Valencia" src="./assets/images/neon_drink.png" width="100">            
                    <span class="text-cyan-200 text-shadow-title block">Sabor a Valencia</span>
                </a>
            </h1>
        </hgroup>

        <nav class="text-center mt-5 sm:mt-0 sm:text-right text-xl">				
            <ul>
                <li class="menu-link">
                    <a href="./participantes.html">Participantes</a>
                </li>
                <li class="menu-link">
                    <a href="#">Historia</a>
                </li>
                <li class="menu-link">
                    <a href="#">Recetas</a>
                </li>
            </ul>
        </nav>

    </div>
</header>