<div class="text-cyan-200 font-neon text-center lg:text-left">
    <div class="mx-auto w-3/4">
        <ul class="py-3 text-lg">
            <li class="footer-item">
                <small><a class="footer-link" href="index.html">INICIO</a></small>
                <span class="footer-separator">&#8901;</span> 
            </li>
            <li class="footer-item">
                <small><a class="footer-link" href="participantes.html">PARTICIPANTES</a></small>
                <span class="footer-separator">&#8901;</span>
            </li>
            <li class="footer-item">
                <small><a class="footer-link" href="#">HISTORIA</a></small>
                <span class="footer-separator">&#8901;</span>
            </li>
            <li class="footer-item">
                <small><a class="footer-link" href="#">RECETAS</a></small>
            </li>
        </ul>
    </div>
</div>